# mac
.DS_STORE

# gradle
.gradle/
build/
generated

# intellij
.idea/
!.idea/codestyles/
!.idea/inspectionProfiles/
!.idea/vcs.xml

.kotlin

# native libraries
libtree-sitter.*
libtree-sitter-pkl.*
src/main/resources/libtree-sitter*

.pkl-lsp
